<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>Menu</name>
    <sid>7792176547163164</sid>
    <event-sheet>eMenu</event-sheet>
    <size>
        <width>1136</width>
        <height>640</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="bg" sid="1918688070085123">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="bckgroundmenu" uid="366">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>1142</width>
                        <height>640</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="Layer 0" sid="5832807677080537">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="btnPlay" uid="368">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>1</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>603</x>
                        <y>340</y>
                        <z>0</z>
                        <width>200</width>
                        <height>200</height>
                        <depth>0</depth>
                        <hotspotX>0.504273534</hotspotX>
                        <hotspotY>0.504347801</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btnMusic" uid="369">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>948</x>
                        <y>599</y>
                        <z>0</z>
                        <width>80</width>
                        <height>80</height>
                        <depth>0</depth>
                        <hotspotX>0.504273534</hotspotX>
                        <hotspotY>0.50420171</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="btnSound" uid="370">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1054</x>
                        <y>597</y>
                        <z>0</z>
                        <width>80</width>
                        <height>80</height>
                        <depth>0</depth>
                        <hotspotX>0.504273534</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="facebook" uid="388">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>82</x>
                        <y>570</y>
                        <z>0</z>
                        <width>117</width>
                        <height>118</height>
                        <depth>0</depth>
                        <hotspotX>0.504273534</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="moregames" uid="389">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>479</x>
                        <y>474</y>
                        <z>0</z>
                        <width>127.173912048</width>
                        <height>122.916664124</height>
                        <depth>0</depth>
                        <hotspotX>0.504273534</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="full_screen" uid="575">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>fullscreen</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Disabled</collisions>
                    </properties>
                    <instance-variables>
                        <element_name>fullscreen_btn</element_name>
                        <tag></tag>
                        <states>1</states>
                        <callback>toggleFullScreen</callback>
                        <clickSound>pop</clickSound>
                        <popAnimation>true</popAnimation>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="LiteTween">
                            <properties>
                                <active-on-start>No</active-on-start>
                                <tweened-property>Position</tweened-property>
                                <function>EaseOutBounce</function>
                                <target>100,100</target>
                                <target-mode>Absolute</target-mode>
                                <duration>2.5</duration>
                                <enforce-mode>Compromise</enforce-mode>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Pin" />
                        <behavior-instance type="Anchor">
                            <properties>
                                <left-edge>Window right</left-edge>
                                <top-edge>Window top</top-edge>
                                <right-edge>Window right</right-edge>
                                <bottom-edge>None</bottom-edge>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1037</x>
                        <y>66</y>
                        <z>0</z>
                        <width>90</width>
                        <height>90</height>
                        <depth>0</depth>
                        <hotspotX>0.50999999</hotspotX>
                        <hotspotY>0.50999999</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
    </layers>
    <nonworld-instances />
    <effects />
</c2layout>
